.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom right, #00BDEE, #005CD7);
    padding: 10px;
}

.company-info {
    display: flex;
    align-items: center;
}

.company-logo img {
    max-width: 50px;
    margin-right: 10px;
}

.company-nombre h4 {
    margin: 0;
    font-size: 15px;
    color: #fff;
}

.company-nombre p {
    margin: 0;
    font-size: 13px;
    color: #fff;
}
.login-button {
    display: contents;
}


.btn-public {
    background: linear-gradient(to top left, #FFFF00, #FFB500);
    color: black;
    text-align: center;
    font-weight: bold;
}

.btn-public:hover {
    background: linear-gradient(to top left, #FFB500, #FFFF00);
}
